/* .header {
    background-color: #66696d;
    text-align: center;
    color: white;
    font-size: 24px;
}
 */

/* P.S. Hello teacher!
I don't know how to get the relevant CSS to be the right one,
for example this one: Header.css and not the App.css. Or better:
Why the code does't take the relevant CSS ones? This is repeating
in the entire code. Do you have some hints to me? Thx! */