/* src/PetList.css */
.pet-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.pet-card {
  width: calc(30% - 10px);
  border: 1px solid #7a7a7a;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.input {
  width: auto;
  padding-right: 10px;
}

.button-group {
  margin-top: 10px;
}

.delete-button {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #ccdecd;
  border-radius: 5px;
}

.edit-button {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #ccdecd;
  border-radius: 5px;
}

.add-pet-button {
/*   margin-left: 10px; */
  margin-bottom: 50px;
  background-color: #ccdecd;
  border-radius: 5px;
}

.add-pet-form {
  border: 1px solid #a8a7a7;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ccdecd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 10px;
}

.form-container {
  min-height: 250px;
}

.centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
